.idea
tiger-lottery.iml

lottery-common/lottery-common.iml
lottery-common/target

lottery-gaming/lottery-gaming.iml
lottery-gaming/target

lottery-gateway/lottery-gateway.iml
lottery-geway/targetgit

copycat/copycat.iml
copycat/target