<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lottery.gaming.model.mapper.CompetitorMapper">
    <insert id="addCompetitorRef">
        INSERT IGNORE INTO sport_info.`betradar_competitors_ref_tournaments`
        (competitor_id, tournament_id, version, create_time, update_time)
        VALUES
        <foreach collection="competitors" item="item" separator=",">
            (#{item.id}, #{tournamentId}, 1, CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP())
        </foreach>
    </insert>
    <select id="getMainCompetitorInfo" resultType="lottery.gaming.model.vo.MainCompetitorRefVO">
        SELECT c.id, c.name_cn, c.name_en, bc.name_en AS b_name_en, bc.name_cn AS b_name_cn, bc2.name_en AS a_name_en, 
        bc2.name_cn  AS a_name_cn, bc.id AS b_id, bc2.id AS a_id, bc.age_group,  bc.gender
        FROM sport_info.competitors c
        LEFT JOIN sport_info.betradar_competitors bc ON c.id = bc.ref_id
        LEFT JOIN sport_info.bet188_competitors bc2 ON c.id = bc2.ref_id
        where c.sport_id = {sportId}
        AND c.id IN
       <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>